
<header class="main_header">
  <a href="{{site.baseurl}}/" class="logo">
    <div class='console-container'>
      <span id='text'></span>
    </div>
  </a>
  
  <nav class="main_menu">
    <a href="{{site.baseurl}}/about/">자기소개</a>
    <a href="{{site.baseurl}}/contact/">이메일 보내기</a>
  </nav>
</header> <!-- End Section Header -->
<nav class="mobile_menu">
  <ul>
    <li class="menu_button">
        <a href="{{site.baseurl}}/about/" class="m_menu_text">자기소개</a>
    </li>
    <li class="menu_button">
        <a href="{{site.baseurl}}/contact/" class="m_menu_text">이메일 보내기</a>
    </li>
  </ul>
</nav>
