
<header class="main_header">
  <a href="{{site.baseurl}}/" class="logo">
    <div class='console-container'>
      <span id='text'></span>
    </div>
  </a>
  
  <nav class="main_menu">
    <a href="{{site.baseurl}}/about/">자기소개</a>
    <a href="{{site.baseurl}}/contact/">이메일 보내기</a>
  </nav>
  <button class="toggle_button">
    <svg aria-hidden="true" data-prefix="far" data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" title="Main Navigation" class="svg-inline--fa fa-bars fa-w-14 fa-fw fa-lg"><path fill="currentColor" d="M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z" class=""></path></svg>
  </button>
</header> <!-- End Section Header -->
<nav class="mobile_menu">
  <ul class="collapse">
    <li class="menu_button">
        <a href="{{site.baseurl}}/about/" class="m_menu_text">자기소개</a>
    </li>
    <li class="menu_button">
        <a href="{{site.baseurl}}/contact/" class="m_menu_text">이메일 보내기</a>
    </li>
  </ul>
</nav>
